body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2F2519;
    color: blanchedalmond;
    
}

h2,h3 {
    color: blanchedalmond;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FF4301;
}

a:hover {
    color: #FF4301;
}

footer {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #221b12;
}

.stylished-ul {
    list-style-type: none;
    text-decoration: none;
}

#search-index-form {
    display: flex;
    justify-content: center;
}


/*profil*/

#profile-background {
    background-color: #685c4d;
}

#profile-picture {
    width: 300px;
    height: 200px;
}

#privacy_infos {
    background-color: #1d1710;
    border: #221b12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#privacy_infos form{
    border-top: 1px solid blanchedalmond;
    padding: 10px;
}

#centered-item {
    margin-top: 10%;
    margin-left: 5%;
}

#profile_description {
    background-color: #1d1710;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}


/* showtimes */

#showtimes {
    border : 1px solid blanchedalmond;
}

#showtimes th, td {
    border : 1px solid blanchedalmond;
    text-align: center;
}