#presentation {
    position: relative;
    background-color: #4A3F35;
    padding: 5%;
}

#search-section {
    background-color: #2F2519;
    padding: 5%;
}

#profile-picture-process {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#privacy_infos{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

#other_pages{
    padding-top: 10%;
}

#privacy_info{
    padding: 5%;
}

#profile_description{
    padding: 5%;
}